@import "tailwindcss";

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-color: #fffefd;
}

@keyframes drop {
    0% {
      top: -1.5rem;
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    100% {
      top: 50%;
      opacity: 0;
    }
  }
  
  .coin-slot {
    position: relative;
    overflow: hidden;
  }
  
  .coin {
    animation: drop 0.8s ease-in-out;
  }