@import "tailwindcss";

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-color: #fffefd;
}

@keyframes drop {
    0% {
      top: -1.5rem;
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    100% {
      top: 50%;
      opacity: 0;
    }
  }
  
  .coin-slot {
    position: relative;
    overflow: hidden;
  }
  
  .coin {
    animation: drop 0.8s ease-in-out;
  }

  .photo-strip {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: black;
    border: 3px solid #333;
    border-radius: 10px;
    padding: 10px;
    width: 120px; /* Adjust width to resemble a photo strip */
  }
  
  .photo-frame {
    border: 2px solid white;
    border-radius: 5px;
    overflow: hidden;
    width: 100%;
  }
  
  img.grayscale {
    filter: grayscale(100%);
  }